<mat-card class="card">
    <mat-card-content class="mat-card-content">
        <button (click)='fetchBirdCodesByRegion()' mat-raised-button color="warn">{{ button }}</button>
    </mat-card-content>
</mat-card>

<div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource" *ngIf="birds && birds.length">
        <ng-container matColumnDef="comName">
          <th mat-header-cell *matHeaderCellDef> Common name </th>
          <td mat-cell *matCellDef="let element"> {{element.comName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="sciName">
            <th mat-header-cell *matHeaderCellDef> Scientific name </th>
            <td mat-cell *matCellDef="let element"> {{element.sciName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="mat-cell" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
<mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
